/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
    all: unset;
    padding: 5px;
    background-color: white;
    border: black 1px solid;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(116, 116, 116);
    cursor: pointer;
}

#container {
    background-color: burlywood;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80vh;
    align-items: stretch;
    align-content: center;
    justify-items: stretch;
    justify-content: center;
}

#bookShelf {
    border: 1px rgb(182, 151, 110) solid;
    box-shadow: inset 22px 23px 18px 5px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin-right: 50px;
    padding: 20px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 300px;
    gap: 50px;

}

#controlPanel {
    margin-left: 50px;
    background-color: blanchedalmond;
    border-radius: 10px;
}

#newBookForm {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.212);
}

#formo {
    padding: 10px;
    background-color: white;
    border: 1px black solid;
    border-radius: 5px;
    align-self: center;
    justify-self: center;
}

#formo p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#formButtons {
    display: flex;
    justify-content: space-around;
}

.bookCard {
    background-color: white;
    border: 1px black solid;
    padding: 10px;
    display: grid;
    grid-template-rows: 2.4rem 20px 1fr 40px;
}

.title {
    grid-row: 1/2;
    font-size: 2rem;
    font-weight: bold;
    overflow: auto;
}

.pageLabel {
    grid-row: 2/3;
    display: flex;
}

.author {
    grid-row: 3/4;
    font-size: 1.2rem;
}

.cardButtons {
    grid-row: 4/5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.readButton {
    background-color: gray;
    color: rgb(163, 163, 163);
    border: rgb(71, 71, 71) 1px solid;
}

.read {
    background-color: rgb(182, 133, 0);
    color: gold;
    border: goldenrod 1px solid;
}

.read:hover {
    background-color: rgb(199, 162, 61);
    color: gold;
    border: goldenrod 1px solid;;
}